body {
  background-color: #212529 !important;
}

.container {
  min-height: 100vh;
  background-color: #212529 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-card{
    width: 30rem;
}

.quiz-answer-card:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.05);

}

.question-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.4);    
    padding-top: 12px;
}

.bg-success, .bg-danger {
  color: white !important;
}

.img-right{
    display: flex;
    flex-direction: row-reverse;
}

.text-center{ 
    text-align: center;
}

.final-headline{
  font-size: 38px;
  margin-bottom: 32px;
}

.button-row{
  display: flex;
  justify-content: center;
  margin-top: 24px;
}